<%= form_for @league, url: admin_leagues_path, method: :post do |f| %>
    <h1> New league </h1>
    <%= f.label :reference %>
    <%= f.text_field :reference %>
    <div>
        <label for="season">Season</label>
        <input type="text" name="season" id="season">
    </div>
    <%= f.submit class: button_primary_classes %>
<% end %>
