<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="sm:flex sm:items-center mb-8">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Times</h1>
      <p class="mt-2 text-sm text-gray-700">Lista de todos os times do sistema.</p>
    </div>
  </div>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    <% @team_data.each do |data| %>
      <%= render "team_card", team: data[:team], seasons_played: data[:seasons_played], 
                   last_season: data[:last_season], points_rate: data[:points_rate] %>
    <% end %>
  </div>
</div>
