<div class="flex flex-col lg:items-center items-start w-screen min-h-screen bg-white py-0">
    <% @seasons.each do |season| %>
        <p><%= link_to(season.year, season_path(season.id)) %></p>
    <% end %>
</div>
