services:
  rails:
    image: 'ghcr.io/eargollo/soccer:latest'
    ports:
      - ${PORT}:4443
    depends_on:
      - database
    networks:
      - soccer-network
    env_file:
      - stack.env
    volumes:
      - soccer-rails-storage:/storage
  solidqueue:
    image: 'ghcr.io/eargollo/soccer:latest'
    command: bundle exec rake solid_queue:start
    depends_on:
      - database
    networks:
      - soccer-network
    env_file:
      - stack.env
  database:
    image: 'postgres:18.1'
    ports:
      - 15432:5432
    env_file:
      - stack.env
    networks:
      - soccer-network
    volumes:
      - soccer-postgres-data:/var/lib/postgresql
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - ${PGADMIN_LISTEN_PORT}:8080
    env_file:
      - stack.env
    depends_on:
      - database
    networks:
      - soccer-network
    volumes:
      - soccer-pgadmin-data:/var/lib/pgadmin

networks: 
  soccer-network:
    driver: bridge

volumes:
  soccer-postgres-data:
  soccer-pgadmin-data:
  soccer-rails-storage: