services:
  rails:
    image: 'ghcr.io/eargollo/soccer:latest'
    ports:
      - ${PORT:-3000}:${PORT:-3000}
    depends_on:
      - database
    networks:
      - soccer-network
    env_file:
      - stack.env
    restart: unless-stopped
  solidqueue:
    image: 'ghcr.io/eargollo/soccer:latest'
    command: bundle exec rake solid_queue:start
    depends_on:
      - database
    networks:
      - soccer-network
    env_file:
      - stack.env
    restart: unless-stopped
  database:
    image: 'postgres:18.1'
    ports:
      - 15432:5432
    environment:
      POSTGRES_DB: soccer
    env_file:
      - stack.env
    networks:
      - soccer-network
    volumes:
      - soccer-postgres-data:/var/lib/postgresql
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - ${PGADMIN_LISTEN_PORT}:8080
    env_file:
      - stack.env
    depends_on:
      - database
    networks:
      - soccer-network
    volumes:
      - soccer-pgadmin-data:/var/lib/pgadmin
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    env_file:
      - stack.env
    depends_on:
      - rails
    networks:
      - soccer-network
    restart: unless-stopped

networks: 
  soccer-network:
    driver: bridge

volumes:
  soccer-postgres-data:
  soccer-pgadmin-data: