services:
  rails:
    build:
      dockerfile: Dockerfile.dev
      context: .
    ports:
      - 3000:${PORT}
    depends_on:
      - database
    networks:
      - postgres-network
    env_file:
      - .env.DEV

  solidqueue:
    build:
      dockerfile: Dockerfile.dev
      context: .
    command: bundle exec rake solid_queue:start
    depends_on:
      - database
    networks:
      - postgres-network
    env_file:
      - .env.DEV

  database:
    image: 'postgres:17.2'
    # ports:
      # - 15432:5435
    env_file:
      - .env.DEV
    networks:
      - postgres-network
    volumes:
      - pg-dev-data:/var/lib/postgresql/data/
  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 8080:80
    env_file:
      - .env.DEV
    depends_on:
      - database
    networks:
      - postgres-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin/

networks: 
  postgres-network:
    driver: bridge

volumes:
  pg-dev-data:
  pgadmin-data: