services:
  rails:
    build:
    image: 'ghcr.io/eargollo/soccer:latest'
    ports:
      - 443:${PORT}
    depends_on:
      - database
    networks:
      - postgres-network
    env_file:
      - .env.PROD
    volumes:
      - rails-storage:/storage

  solidqueue:
    image: 'ghcr.io/eargollo/soccer:latest'
    command: bundle exec rake solid_queue:start
    depends_on:
      - database
    networks:
      - postgres-network
    env_file:
      - .env.PROD

  database:
    image: 'postgres:18.1'
    ports:
      - 15432:5432
    env_file:
      - .env.PROD
    networks:
      - postgres-network
    volumes:
      - pg-prod-data:/var/lib/postgresql
  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 8080:8080
    env_file:
      - .env.PROD
    depends_on:
      - database
      - init-pgadmin
    networks:
      - postgres-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin/

networks: 
  postgres-network:
    driver: bridge

volumes:
  pg-prod-data:
  pgadmin-data:
  rails-storage: