<div class="flex flex-col lg:items-center items-start w-screen min-h-screen bg-white py-0">
  <h1><%= @league.name %> - Seasons</h1>
  <% @seasons.each do |season| %>
    <p><%= link_to(season.year, league_season_path(@league, season)) %></p>
  <% end %>
</div>

