<header class="bg-gray-800 text-orange-50">
    <nav class="h-16 flex justify-between items-center w-[96%] mx-auto">
        <div>Stochastic Soccer</div>
        <div class="">
        <ul class="flex items-center gap-8">
            <li class="">
            <%= link_to "Standings", root_path, class: "hover:text-orange-300" %>
            </li>
            <li class="">
            <%= link_to "Matches", matches_path, class: "hover:text-orange-300" %>
            </li>
            <li class="">
            <%= link_to "Simulations", simulations_path, class: "hover:text-orange-300" %>
            </li>
        </ul>
        </div>
        <div class="">
        <buttom class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</buttom>
        </div>
    </nav>
</header>
