<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900"><%= @league.name %> <%= @season.year %> - Matches</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all matches results. Probability is shown for matches that were not played yet.</p>
    </div>
  </div>
  <%= render "matches/matches_table", round_path: ->(round:) { league_season_matches_path(@league, @season, round: round) } %>
</div>

